* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-text);
}

:root {
  --main-dk: #2e86c1;
  --main: #3498db;
  --main-lg: #3498db;

  --divider-color: #bdbdbd;
  --primary-text: #333;
  --constrast-text: #fff;

  --divider-color: #bdbdbd;
}

body {
  margin: 0;
  font-family: "Open Sans", system-ui;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dummy-content {
  flex-grow: 1;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.logo span {
  font-family: "Montserrat", system-ui;
  font-weight: bold;
  font-size: 1.2rem;
}

.logo img {
  height: 50px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.search-bar input {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 0px 4px 4px 0px;
}

.search-bar button {
  padding: 6px 10px;
  background-color: var(--main);
  border: none;
  border-radius: 4px 0px 0px 4px;
  cursor: pointer;
}

.search-bar button img {
  width: 18px;
  height: 18px;
}

.header-links {
  display: flex;
  gap: 20px;
}

.header-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text);
}

.header-links a img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.header-links a span {
  font-size: 1rem;
  font-weight: 500;
}

.header-links a:hover {
  color: var(--main-lg);
}

/* Sub Header */

.subheader {
  padding: 0.8rem 2rem;
  background-color: #fff;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-item {
  position: relative;
  margin-right: 0.5rem;
  padding: 8px 12px;
  color: var(--primary-text);
  cursor: pointer;
  font-weight: 500;
}

.menu-item:hover {
  color: var(--main-lg);
}

.submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  list-style-type: none;
  margin: 0;
  width: 200px;
}

.submenu li a {
  text-decoration: none;
}

.submenu li {
  padding: 8px 12px;
  color: var(--primary-text);
  cursor: pointer;
}

.submenu li:hover {
  background-color: #ededed;
}

.menu-item:hover .submenu {
  display: block;
}

/* Drawer */

/* Hide the drawer by default */
.drawer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
}

.drawer-content {
  padding: 20px;
}

.drawer-content .close-drawer {
  background: none;
  border: none;
  color: var(--primary-text);
  font-size: 20px;
  cursor: pointer;
}

.drawer-search-bar {
  display: flex;
  margin: 1rem 0;
}

.drawer-search-bar input {
  width: 100%;
  padding: 8px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #ccc;
}

.drawer-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
}

.drawer-menu-nav ul {
  list-style-type: none;
  padding: 0;
}

.drawer-menu-item span {
  color: var(--primary-text);
  font-weight: 600;
}

.drawer-menu-item ul {
  padding: 1rem 0;
}

.drawer-submenu li {
  padding: 4px 8px;
  cursor: pointer;
}

.drawer-submenu li a {
  text-decoration: none;
}

.drawer-submenu li:hover {
  background-color: #ededed;
}

/* .drawer-menu ul li {
  padding: 10px 0;
  color: var(--primary-text);
  cursor: pointer;
} */

/* .drawer-menu ul li:hover {
  background-color: #ededed;
} */

/* Hamburger button styling */
.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.hamburger img {
  width: 25px;
  height: 25px;
  margin-right: 1rem;
}


/* Footer */

footer * {
  color: #fff;
}

footer {
  background-color: #1c2833;
  padding: 1.5rem 4rem;
}

.footer-upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 1.5rem;
  gap: 2rem;
}

.company-info h3 {
  margin: 0;
  font-size: 20px;
  font-family: "Montserrat", system-ui;
}

.company-info p {
  margin: 5px 0;
  font-size: 14px;
}

.social-media a {
  margin: 0 10px;
  text-decoration: none;
  font-size: 16px;
}

.payment-methods {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.payment-methods p {
  font-weight: bold;
}

.payment-methods-logos {
  display: flex;
  gap: 10px;
}

.footer-lower {
  text-align: center;
  padding: 10px 20px;
}

.site-map {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-map li {
  display: inline;
  margin: 0 15px;
}

.site-map a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.site-map a:hover {
  text-decoration: underline;
}

/* Product Page */

.breadcrumb {
  list-style: none;
  display: flex;
  padding: 10px 0;
  background-color: #f8f9fa;
  margin-left: 50px;
}

.breadcrumb-item {
  margin-right: 0.5rem;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: ">";
  margin-right: 0.5rem;
  color: #6c757d;
}

.breadcrumb-item a {
  text-decoration: none;
  color: var(--main);
}

.breadcrumb-item a:hover {
  text-decoration: underline;
  color: #007bff;
}

.breadcrumb-item.active {
  color: #6c757d;
  pointer-events: none;
}

.product-desc {
  padding: 0px 100px;
  background-color: white;
}

section h1 {
  padding: 20px 0px;
  font-size: 2.5rem;
  /* margin-top: 20px; */
}

.container-sec1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}

.carrusel-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.carrusel {
  position: relative;
  width: 300px;
  height: 400px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

input[type="radio"] {
  display: none;
}

input:nth-child(1):checked~.slides .slide:nth-child(1),
input:nth-child(2):checked~.slides .slide:nth-child(2),
input:nth-child(3):checked~.slides .slide:nth-child(3),
input:nth-child(4):checked~.slides .slide:nth-child(4),
input:nth-child(5):checked~.slides .slide:nth-child(5),
input:nth-child(6):checked~.slides .slide:nth-child(6) {
  opacity: 1;
}

.controls {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  flex-direction: column;
}

.controls label img:hover {
  /* border: solid 2px #0056b3; */
  transform: scale(1.1);
}

.controls label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 35px;
  margin: 5px;
  background-color: #ddd;
  border-radius: 50%;
  transition: transform 0.3s ease;
}


.desc-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.desc-container p {
  text-align: justify;
  margin-top: 20px;
  font-size: 1rem;
}

.desc-container h2 {
  margin-top: 20px;
}

.quantity-selector {
  display: inline-block;
  border: 1px solid var(--main);
  padding: 10px;
  border-radius: 5px;
}

.quantity-selector label {
  font-size: 14px;
  margin-right: 10px;
}

.quantity-dropdown {
  font-size: 16px;
  border: none;
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
  outline: none;
}

.quantity-dropdown:focus {
  border: none;
}

.quantity-dropdown::after {
  content: '▼';
  position: absolute;
  right: 10px;
  pointer-events: none;
  color: #000;
}

.quantity-dropdown::after:hover {
  color: #000;
  cursor: pointer;
}

.quantity-selector select {
  width: 50px;
  text-align: center;
}

.quantity-dropdown::-ms-expand {
  display: none;
}

.shop {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.shop input[type="number"] {
  width: 60px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.shop button {
  padding: 10px 20px;
  background-color: var(--main);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop button:hover {
  background-color: var(--main-dk);
}

.tech-spec {
  padding: 0px 100px;
  background-color: white;
}

.tech-spec h2 {
  padding-top: 30px;
}

.tech-spec hr {
  border: none;
  /* Elimina el borde por defecto de hr */
  height: 3px;
  /* Altura de la línea */
  background: var(--main-dk);
  /* Gradiente con rojo en un 30% y transparente el resto */
  width: 100%;
  /* Ancho completo del contenedor */
  margin: 0;
  /* Elimina cualquier margen predeterminado */
}

.tech-spec table {
  width: 100%;
  border-collapse: collapse;
  /* Elimina los espacios entre bordes */
  margin-top: 20px;
}

.tech-spec th,
td {
  padding: 15px;
  align-items: center;
  text-align: center;
  /* Alinea a la izquierda */
}

.tech-spec td {
  text-align: center;
}

.tech-spec thead {
  background-color: #5499cd;
  /* Color de fondo para el encabezado */
}

.tech-spec thead tr th {
  color: white;
}

.tech-spec tbody tr:nth-child(even) {
  background-color: #ebebeb;
  /* Alterna el color de fondo de las filas */
}

.tech-spec tbody td:first-child {
  font-weight: bold;
  /* Aplica negrita al primer td de cada fila */
}

.might-be-int {
  padding: 20px 100px;
  background-color: white;
}

.might-be-int h2 {
  padding-top: 30px;
}

.might-be-int hr {
  border: none;
  /* Elimina el borde por defecto de hr */
  height: 3px;
  /* Altura de la línea */
  background: var(--main-dk);
  /* Gradiente con rojo en un 30% y transparente el resto */
  width: 100%;
  /* Ancho completo del contenedor */
  margin: 0;
  /* Elimina cualquier margen predeterminado */
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.product-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image {
  position: relative;
  width: 100%;
  height: 205px;
  overflow: hidden;
  border-radius: 8px;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.3s ease;
}

.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  object-fit: cover;
}

.product-card:hover .hover-image {
  opacity: 1;
  cursor: pointer;
}

.product-card:hover .default-image {
  opacity: 0;
}


.product-info h3 {
  margin: 5px 0;
  font-size: 16px;
  line-height: 1.2;
}

.brand {
  font-size: 12px;
  color: #888;
  margin-bottom: 5px;
}

.discount-percentage {
  color: white;
  background-color: var(--main-dk);
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}

.original-price {
  text-decoration: line-through;
  color: #888;
  font-size: 14px;
  margin: 0;
  display: inline-block;
}


.price {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
  color: #383737;
}

.seller,
.rating,
.additional-offers {
  font-size: 12px;
  margin: 2px 0;
}

.add-to-cart {
  width: 100%;
  background-color: var(--main);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  stroke: white;
}




@media (max-width: 900px) {
  header {
    justify-content: normal;
  }

  .subheader {
    display: none;
  }

  .logo {
    flex-grow: 1;
  }

  .logo span {
    font-family: "Montserrat", system-ui;
    font-weight: bold;
    font-size: 1rem;
  }

  .logo img {
    display: none;
  }

  .search-bar,
  .menu {
    display: none;
  }

  .header-links a span {
    display: none;
  }

  .hamburger {
    display: inline-block;
  }

  .drawer {
    display: block;
  }

  .drawer.open {
    transform: translateX(0);
  }

  .product-desc {
    padding: 10px;
  }

  .container-sec1 {
    display: flex;
    flex-direction: column;
  }

  .desc-container p {
    font-size: 0.9rem;
  }

  .tech-spec {
    padding: 0px 10px;
  }

  .might-be-int {
    padding: 0px 10px;
  }

  .product-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    padding: 20px;
  }

  .product-card {
    padding: 10px;
    font-size: 14px;
  }

  .product-image {
    height: 150px;
  }

  .product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .add-to-cart {
    padding: 8px;
    font-size: 13px;
  }

  .cart-icon {
    width: 16px;
    height: 16px;
  }
}


@media (max-width: 800px) {
  .footer-upper {
    flex-wrap: wrap;
    justify-content: center;
  }

  footer {
    padding: 1.5rem 1rem;
  }

  .company-info p {
    text-align: center;
  }

  .payment-methods-logos {
    justify-content: center;
  }


}